Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.000053,
    center_x: -0.1159076,
    center_y: -0.000022,
    fractal: TDRGE,

    max_iter: 2000,

    coloring_mode: MinMaxNorm(
        min: Custom(200),
        max: Custom(750),
        map: Linear,
    ),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))
