Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.2,
    center_x: 0.0,
    center_y: 0.0,
    fractal: SecondDegreeRecWithGrowingExponent,

    max_iter: 20000,

    coloring_mode: CumulativeHistogram(map: Powf(15)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))