(
    img_width: 3840,
    img_height: 2160,
    render: Frame(
        zoom: 0.046,
        center_x: -0.9858,
        center_y: 0.05195,
        fractal: SecondDegreeRecAlternating1WithGrowingExponent,
    ),
    max_iter: 100000,
    coloring_mode: CumulativeHistogram(map: Powf(12)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)