Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.046,
    center_x: -0.9858,
    center_y: 0.05195,
    fractal: Sdrage,

    max_iter: 100000,

    coloring_mode: CumulativeHistogram(map: Powf(12)),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
))
