Frame((
    img_width: 1080,
    img_height: 1080,

    zoom: 1.6,
    center_x: -0.5,
    center_y: 0.0,
    fractal: ThirdDegreeRecPairs,

    max_iter: 2000,

    coloring_mode: MaxNorm(max: Some(800), map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))