(
    img_width: 2160,
    img_height: 2160,
    render: Frame(
        zoom: 1.6,
        center_x: -0.5,
        center_y: 0.0,
        fractal: ThirdDegreeRecPairs,
    ),
    max_iter: 2000,
    coloring_mode: CustomMaxNorm(max: 800, map: Linear),
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
    diverging_areas: Some([(-0.6, 0.04, -0.32, 0.32)]),
)