(
    img_width: 3840,
    img_height: 2160,
    render: Frame(
        zoom: 0.000265,
        center_x: -0.115909,
        center_y: 0.0,
        fractal: ThirdDegreeRecWithGrowingExponent,
    ),
    max_iter: 80000,
    coloring_mode: CumulativeHistogram,
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
)