Frame((
    img_width: 1080,
    img_height: 1080,

    zoom: 0.1,
    center_x: -0.38,
    center_y: 0.6,
    fractal: ThirdDegreeRecPairs,

    max_iter: 2000,

    coloring_mode: MinMaxNorm(min: Custom(0), map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))