(
    img_width: 2160,
    img_height: 2160,
    render: Frame(
        zoom: 0.1,
        center_x: -0.38,
        center_y: 0.6,
        fractal: ThirdDegreeRecPairs,
    ),
    max_iter: 2000,
    coloring_mode: MaxNorm(map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)