(
    img_width: 1920,
    img_height: 1080,
    render: Frame(
        zoom: 0.025,
        center_x: -0.357,
        center_y: 0.5848,
        fractal: ThirdDegreeRecPairs,
    ),
    max_iter: 2000,
    coloring_mode: MaxNorm(map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)