(
    img_width: 3840,
    img_height: 2160,
    render: Frame(
        zoom: 0.025,
        center_x: -0.357,
        center_y: 0.5848,
        fractal: ThirdDegreeRecPairs,
    ),
    max_iter: 2000,
    coloring_mode: MaxNorm(map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
    diverging_areas: Some(
        [
            (
                -0.37,
                -0.361,
                0.5792,
                0.5829,
            ),
        ],
    ),
)