(
    img_width: 1920,
    img_height: 1080,
    render: Animation(
        zoom: [
            Smooth(0, 6, 4.5, 5.5),
            Smooth(6, 8, 5.5, 4.5),
        ],
        center_x: [Const(0, 8, 0)],
        center_y: [Const(0, 8, 0)],
        fractal: ComplexLogisticMapLike(
            re: [
                Smooth(0, 2, 1, -0.2),
                Smooth(2, 8, -0.2, 1),
            ],
            im: [
                Smooth(0, 6, -2, 0.5),
                Smooth(6, 8, 0.5, -2),
            ],
        ),
        duration: 8,
        fps: 30,
    ),
    max_iter: 800,
    coloring_mode: CustomMaxNorm(
        max: 400,
        map_value: Linear,
    ),
    sampling: (level: High, random_offsets: true),
)