Frame((
    img_width: 1080,
    img_height: 1080,

    zoom: 0.000025,
    center_x: -0.009978,
    center_y: -0.000252,
    fractal: SecondDegreeRecWithGrowingExponent,

    max_iter: 80000,

    coloring_mode: MinMaxNorm(map: Powf(0.7)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))