(
    img_width: 3840,
    img_height: 2160,
    render: Frame(
        zoom: 0.001,
        center_x: 0.0097,
        center_y: -0.01,
        fractal: SecondDegreeRecWithGrowingExponent,
    ),
    max_iter: 100000,
    coloring_mode: CumulativeHistogram,
    sampling: (
        level: Extreme,
        random_offsets: true,
    ),
)