Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.001,
    center_x: 0.0097,
    center_y: -0.01,
    fractal: SecondDegreeRecWithGrowingExponent,

    max_iter: 10000,

    coloring_mode: CumulativeHistogram(map: Powf(12)),
    sampling: (
        level: Extreme2,
        random_offsets: true,
    ),
))