(
    img_width: 1920,
    img_height: 1080,
    render: Frame(
        zoom: 0.0008,
        center_x: 0.05368,
        center_y: -0.044375,
        fractal: SecondDegreeRecWithGrowingExponent,
    ),
    max_iter: 80000,
    coloring_mode: CumulativeHistogram,
    sampling: (level: Ultra, random_offsets: true),
)