(
    img_width: 1920,
    img_height: 1080,
    zoom: 0.0008,
    center_x: 0.05368,
    center_y: -0.044375,
    max_iter: 80000,
    fractal: SecondDegreeRecWithGrowingExponent,
    coloring_mode: CumulativeHistogram,
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
    custom_gradient: None,
    diverging_areas: None,
    dev_options: None,
)