Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.0008,
    center_x: -0.01,
    center_y: -0.0003,
    fractal: SDRGE,

    max_iter: 16000,

    coloring_mode: MinMaxNorm(min: Custom(0), map: Powf(1.1)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))
