(
    img_width: 2160,
    img_height: 2160,
    render: Frame(
        zoom: 0.00000055,
        center_x: 0.00009023,
        center_y: -0.000001996,
        fractal: ThirdDegreeRecWithGrowingExponent,
    ),
    max_iter: 20000,
    coloring_mode: CumulativeHistogram(map: Powf(12)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)