(
    img_width: 2160,
    img_height: 2160,
    zoom: 0.00000055,
    center_x: 0.00009023,
    center_y: -0.000001996,
    max_iter: 80000,
    fractal: ThirdDegreeRecWithGrowingExponent,
    coloring_mode: CumulativeHistogram,
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)