(
    img_width: 1920,
    img_height: 1080,
    zoom: 0.0004,
    center_x: -0.01,
    center_y: -0.00026,
    max_iter: 80000,
    fractal: SecondDegreeRecWithGrowingExponent,
    coloring_mode: MaxNorm(
        map_value: Linear,
    ),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)