Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.0004,
    center_x: -0.01,
    center_y: -0.00026,
    fractal: SecondDegreeRecWithGrowingExponent,

    max_iter: 20000,

    coloring_mode: MinMaxNorm(min: Custom(0), map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))