Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.04,
    center_x: 0,
    center_y: 0.559,
    fractal: Vshqwj,

    max_iter: 620,

    coloring_mode: MaxNorm(
        max: Custom(600),
        map: Powf(1.1),
    ),
    sampling: (level: Extreme, random_offsets: true),

    custom_gradient: Some(
        [
            (0, (255, 255, 255)),
            (0.02, (245, 240, 250)),
            (0.04, (200, 190, 250)),
            (0.06, (245, 240, 250)),
            (0.3, (160, 150, 180)),
            (1, (25, 20, 30)),
        ],
    ),
))