(
    img_width: 3840,
    img_height: 2160,
    render: Frame(
        zoom: 0.000005,
        center_x: -0.0099789,
        center_y: -0.0002448,
        fractal: SecondDegreeRecWithGrowingExponent,
    ),
    max_iter: 120000,
    coloring_mode: MaxNorm(map: Linear),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
)