Frame((
    img_width: 1920,
    img_height: 1080,

    zoom: 0.000000000096,
    center_x: -0.115910000073,
    center_y: 0.0,
    fractal: TDRGE,

    max_iter: 80000,

    coloring_mode: CumulativeHistogram(map: Powf(10)),
    sampling: (
        level: Ultra,
        random_offsets: true,
    ),
))
